@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.slick-dots li.slick-active button:before {
  color: rgb(17, 255, 17) !important;
}

.slick-dots li button:before {
  font-size: 20px;
}

.sidebar-cont .sidebar {
  height: 100vh;
  background-color: aqua !important;
}

body {
  background-color: black;
}
.logoutButton{
  background-color: black !important;
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-move-up-down {
  animation: moveUpDown 1.5s infinite;
}
.MuiTextField-root{
  width: 100% !important;
  margin-top: 3px !important;
}
.MuiTextField-root .MuiInputBase-input{
  padding: 9.5px !important;
}